.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App-header {
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #61dafb;
  outline: none;
  width: 300px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: #0a0c0c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px; /* Mellomrom mellom input og knapp */
}

button:hover {
  background-color: #21a1f1;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background-color: #3c3f41;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  color: white;
}

li input[type="checkbox"] {
  margin-right: 10px; /* Mellomrom mellom checkbox og tekst */
  transform: scale(1.2); /* Gjør checkboxen litt større */
}

li:hover {
  background-color: #505357; /* Litt lysere når man hover over oppgaven */
}
.remove-button {
  background-color: #0b0000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: #e63939;
}
h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Skyggeeffekt */
}
